            
<table class="table">
 
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <% if post.user.avatar? %>
            <%= image_tag post.user.avatar.url %>
          <% else %>
            <%= image_tag "default.jpg", :size => '100x100' %>
          <% end %>
          </td>
          <td><%= post.text %></td>

      </tr>
    <% end %>
  </tbody>
</table>
