<h1 class="title">運動履歴一覧</h1>
<%= link_to "運動登録", new_exercise_path, class: "btn btn-primary" %>
<table>
  <tr>
    <th>日付</th>
    <th>運動</th>
    <th>消費カロリー</th>
  </tr>
  <% @exercises.each do |exercise| %>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
  <% end %>
</table>
